<!DOCTYPE html>
<html>
<head>
  <title>Erreur</title>
</head>
<body>
  <div style="margin: 20% auto 0px; background: url('/images/banner.jpg') no-repeat scroll 0% 0% transparent; padding-top: 50px; width: 600px;">
    <p>Oups ! C'est un petit peu embarrassant, le site vient de connaître un BUG.</p>
    <p>Pas de panique l'administrateur vient d'être prévenu.</p>
    <p>Vous pouvez rejoindre votre page d'accueil en cliquant <a href="/">ici</a></p>
  </div>
</body>
</html>
