<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
    <meta charset="utf-8">
    <meta author="clodeindustrie">
    <meta decription="System de gestion des demandes d'interventions">
    <title><%=@pageTitle %></title>
    <!-- le html5 shim, for ie6-8 support of html elements -->
    <!--[if lt ie 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
    <link href="/bootstrap/css/bootstrap.css" type="text/css" rel="stylesheet">
    <link href="/css/style.css" type="text/css" rel="stylesheet">
    <link href="/css/ui.daterangepicker.css" type="text/css" rel="stylesheet">
    <link href="/css/redmond/jquery-ui-1.7.1.custom.css" type="text/css" rel="stylesheet">
    <link rel="apple-touch-icon" href="/bootstrap/images/apple-touch-icon.png">
    <link rel="shortcut icon" href="/bootstrap/images/favicon.ico">
    <link rel="apple-touch-icon" sizes="72x72" href="/bootstrap/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/bootstrap/images/apple-touch-icon-114x114.png">
  </head>
  <body>
    <div class="navbar">
      <div class="navbar-inner">
	<div class="container">
	  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	  </a>
	  <a class="brand" href="/">Se Loger Pour Vivre</a>
	  <div class="nav-collapse">
	    <ul class="nav">
	      <li class=""><a href="/">Demandes d'intervention</a></li>
	      <% if current_user.admin?%>
		<li class=""><a href="/agents">Agents</a></li>
		<li class=""><a href="/addresses">Addresses</a></li>
	      <% end %>
	    </ul>
	    <ul class="nav pull-right">
	      <li class="divider-vertical"></li>
	      <li class=""><a href="/logout">Deconnecter</a></li>
	    </ul>
	  </div><!-- /.nav-collapse -->
	</div>
      </div><!-- /navbar-inner -->
    </div>
    <%=yield %>
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/jquery-ui.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="/js/ember.min.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
    <script type="text/javascript">
      var errors = <%= !@errors.nil? ? @errors.to_json : '{}'%>;
      ErrorDisplay.init(errors);
    </script>
  </body>
</html>
