<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
    <meta charset="utf-8">
    <meta author="clodeindustrie">
    <meta decription="Se Loger Pour Vivre">
    <title>Login to Se Loger Pour Vivre</title>
    <!-- le html5 shim, for ie6-8 support of html elements -->
    <!--[if lt ie 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link rel="apple-touch-icon" href="/bootstrap/images/apple-touch-icon.png">
    <link rel="shortcut icon" href="/bootstrap/images/favicon.ico">
    <link rel="apple-touch-icon" sizes="72x72" href="/bootstrap/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/bootstrap/images/apple-touch-icon-114x114.png">
  </head>
  <body style="padding-top: 200px">
    <div class="row">
      <div class="span4 offset5">
	<div class="well">
	  <legend>Se Loger Pour Vivre</legend>
	  <form method="POST" action="" accept-charset="UTF-8">
	    <% if @error %>
            <div class="alert alert-error">
              <a class="close" data-dismiss="alert" href="#">×</a>Mot de passe ou email incorrect
            </div>
	    <% end %>
	    <input class="span3" placeholder="Email" type="email" name="email" autofocus>
	    <input class="span3" placeholder="Mot de passe" type="password" name="password">
	    <label class="checkbox">
	      &nbsp;
	    </label>
	    <button class="btn-info btn" type="submit">Connection</button>
	  </form>
	</div>
      </div>
    </div>
  </body>
</html>
