<!DOCTYPE html>
<html>
<head>
  <title>Acces non autorisé</title>
</head>
<body>
  <div style="margin: 20% auto 0px; background: url('/images/banner.jpg') no-repeat scroll 0% 0% transparent; padding-top: 50px; width: 600px;">
    <p>Désolé mais vous n'êtes pas autorisé à acceder cette page.</p>
    <p>Vous pouvez rejoindre votre page d'accueil en cliquant <a href="/">ici</a></p>
  </div>
</body>
</html>