.actions {
    text-align: center;
}

.retour {
    margin-bottom: 10px;
}

.en-tete {
    border-bottom: 1px dotted black;
    text-align: right;
    margin-bottom: 5px;
}

#moderation_buttons button{
    margin-left: 10px;
}

.alert-feedback {
    width:300px;
    margin-left: 100px;
}